<div class="flex flex-row justify-start items-center gap-x-4 px-4 py-2 rounded-md bg-gray-200">
    <img class="size-16 rounded-full object-cover" src="img/users/{{ member.user.id }}/profile_pictures/{{ member.user.userData.avatar }}" alt="Photo de profil de : {{ member.user.username }}." />

    <p>
        {{ member.user.username }}
    </p>
</div>